In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/kaggle_esg.csv")
print(df.columns)
print(df.head())

# Check uniqueness
print(df[["CompanyID", "Year"]].duplicated().sum())  # should be 0

# Check sorting
df_sorted = df.sort_values(["CompanyID", "Year"]).reset_index(drop=True)

Index(['CompanyID', 'CompanyName', 'Industry', 'Region', 'Year', 'Revenue',
       'ProfitMargin', 'MarketCap', 'GrowthRate', 'ESG_Overall',
       'ESG_Environmental', 'ESG_Social', 'ESG_Governance', 'CarbonEmissions',
       'WaterUsage', 'EnergyConsumption'],
      dtype='object')
   CompanyID CompanyName Industry         Region  Year  Revenue  ProfitMargin  \
0          1   Company_1   Retail  Latin America  2015    459.2           6.0
1          1   Company_1   Retail  Latin America  2016    473.8           4.6
2          1   Company_1   Retail  Latin America  2017    564.9           5.2
3          1   Company_1   Retail  Latin America  2018    558.4           4.3
4          1   Company_1   Retail  Latin America  2019    554.5           4.9

   MarketCap  GrowthRate  ESG_Overall  ESG_Environmental  ESG_Social  \
0      337.5         NaN         57.0               60.7        33.5
1      366.6         3.2         56.7               58.9        32.8
2      313.4        19.2         56.5               57.6        34.0
3      283.0        -1.1         58.0               62.3        33.4
4      538.1        -0.7         56.6               63.7        30.0

   ESG_Governance  CarbonEmissions  WaterUsage  EnergyConsumption
0            76.8          35577.4     17788.7            71154.7
1            78.5          37314.7     18657.4            74629.4
2            77.8          45006.4     22503.2            90012.9
3            78.3          42650.1     21325.1            85300.2
4            76.1          41799.4     20899.7            83598.8
0

In [4]:
df.sort_values(["CompanyID", "Year"]).head(11)

,CompanyID,CompanyName,Industry,Region,Year,Revenue,ProfitMargin,MarketCap,GrowthRate,ESG_Overall,ESG_Environmental,ESG_Social,ESG_Governance,CarbonEmissions,WaterUsage,EnergyConsumption
0,1,Company_1,Retail,Latin America,2015,459.2,6.0,337.5,NaN,57.0,60.7,33.5,76.8,35577.4,17788.7,71154.7
1,1,Company_1,Retail,Latin America,2016,473.8,4.6,366.6,3.2,56.7,58.9,32.8,78.5,37314.7,18657.4,74629.4
2,1,Company_1,Retail,Latin America,2017,564.9,5.2,313.4,19.2,56.5,57.6,34.0,77.8,45006.4,22503.2,90012.9
3,1,Company_1,Retail,Latin America,2018,558.4,4.3,283.0,-1.1,58.0,62.3,33.4,78.3,42650.1,21325.1,85300.2
4,1,Company_1,Retail,Latin America,2019,554.5,4.9,538.1,-0.7,56.6,63.7,30.0,76.1,41799.4,20899.7,83598.8
5,1,Company_1,Retail,Latin America,2020,567.5,6.0,384.1,2.3,55.7,65.1,28.5,73.5,42245.4,21122.7,84490.9
6,1,Company_1,Retail,Latin America,2021,604.2,5.2,479.3,6.5,55.6,66.8,25.5,74.6,44263.8,22131.9,88527.7
7,1,Company_1,Retail,Latin America,2022,593.2,4.2,248.4,-1.8,57.7,69.0,27.1,76.9,42536.3,21268.2,85072.6
8,1,Company_1,Retail,Latin America,2023,636.7,5.3,373.9,7.3,57.8,68.3,27.0,78.1,45956.3,22978.2,91912.6
9,1,Company_1,Retail,Latin America,2024,687.0,4.6,460.1,7.9,58.5,68.9,29.9,76.8,49289.1,24644.5,98578.1
10,1,Company_1,Retail,Latin America,2025,734.5,5.0,628.8,6.9,59.2,70.7,29.1,78.0,51805.8,25902.9,103611.7

In [5]:
df["Region"].unique()

array(['Latin America', 'Asia', 'Africa', 'Middle East', 'Oceania',
       'Europe', 'North America'], dtype=object)

In [1]:
import pandas as pd

df = pd.read_csv("..//data/raw/oecd_esg.csv")
print(df.shape)
print(df.head(10))
print(df["Region"].value_counts())

(301, 4)
   Region  Year    OECD_CO2pc  OECD_SocSpendGDP
0  Africa  1990   9557.361388               NaN
1  Africa  1991   9600.452059               NaN
2  Africa  1992   9920.997951               NaN
3  Africa  1993  10191.263659               NaN
4  Africa  1994   9488.652807               NaN
5  Africa  1995  10157.413936               NaN
6  Africa  1996  10620.082607               NaN
7  Africa  1997  10703.906312               NaN
8  Africa  1998  11176.742687               NaN
9  Africa  1999  11508.314000               NaN
Region
Asia             45
Europe           45
Middle East      45
North America    45
Latin America    44
Oceania          44
Africa           33
Name: count, dtype: int64

In [1]:
import pandas as pd

df = pd.read_csv("..//data/raw/oecd_ghg_raw_2015_2025.csv")

# Focus on one year to test
sample = df[df["TIME_PERIOD"] == 2019]
print(sample.groupby("REF_AREA")["OBS_VALUE"].mean().head())

# Now try a mock region aggregation
region_map = {
    "DEU": "Europe", "FRA": "Europe", "ITA": "Europe",
    "USA": "North America", "CAN": "North America",
    # â€¦ etc.
}

sample["Region"] = sample["REF_AREA"].map(region_map)
agg_wrong = sample.groupby("Region")["OBS_VALUE"].sum()
agg_right = sample.groupby("Region")["OBS_VALUE"].mean()

print("\nWRONG aggregation (sum):\n", agg_wrong)
print("\nCORRECT aggregation (mean):\n", agg_right)

REF_AREA
ARG     7.473238
AUS    21.869020
AUT     9.080260
BEL    10.123430
BGR     7.729820
Name: OBS_VALUE, dtype: float64

WRONG aggregation (sum):
 Region
Europe           23.099036
North America    39.288510
Name: OBS_VALUE, dtype: float64

CORRECT aggregation (mean):
 Region
Europe            7.699679
North America    19.644255
Name: OBS_VALUE, dtype: float64

/var/folders/h3/p7wl5qls22b6g1rct6ljfgvc0000gn/T/ipykernel_91551/3535955850.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample["Region"] = sample["REF_AREA"].map(region_map)